<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <h1><%= t '.title' %></h1>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <% @test_results.each do |test_result| %>
          <%= render partial: 'test_result', locals: { test_result: test_result } %>
        <% end %>
      </div>
      <%= paginate @test_results %>
      <%= column_chart @user_achievements, xtitle: 'ニックネーム', ytitle: '達成率の平均値', library: { animation: { duration: 1000 }, scales: { y: { beginAtZero: true, max: 100 } } } %>
    </div>
  </div>
</div>
