<footer id='footer' class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="copyright">
          <p>Test Score Rivals © 2024. Test Score Rivals</p>
        </div>
        <div class="footer-links" >
          <%= link_to '利用規約', terms_of_service_path %> /
          <%= link_to 'プライバシーポリシー', '#' %>
        </div>
      </div>
    </div>
  </div>
</footer>