// ヘッダーの背景色
header {
  background-color: #f8f9fa;
}
    
// ロゴのスタイル
.navbar-brand img {
  width: 100px; // 任意のサイズに調整
}
    
// ナビゲーションリンクのスタイル
.navbar-nav .nav-link {
  color: #000; // リンクのテキストカラー
}
    
// ドロップダウンメニューのスタイル
.dropdown-menu {
  background-color: #f8f9fa; // ドロップダウンメニューの背景色
}
    
// プロフィール画像のスタイル
.dropdown-menu img {
  width: 40px; // 任意のサイズに調整
  height: 40px; // 任意のサイズに調整
  border-radius: 50%; // 丸くする
  margin-right: 15px; // 画像とテキストの間隔
}
  