.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.form-inline img{
  width: 40px; // 任意のサイズに調整
  height: 40px; // 任意のサイズに調整
  border-radius: 50%; // 丸くする
  margin-right: 15px; // 画像とテキストの間隔
}